<div class="container">
  < class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponents!</h3>
      <app-servers></app-servers>
      <!--  <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
      <h3>Assignment 1: (Creating warning message)</h3>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-succes-alert></app-succes-alert>
    </div>
    <h3>Assignment 2:</h3>
    <hr>
    <app-user></app-user>
    <h3>Assignment 3:</h3>
    <hr>
    <app-assignment3></app-assignment3>
</div>
